.root {
  min-width: 300px;
  width: max-content;
  border-radius: 18px;
  overflow: hidden;
  background: #e3e8ff;
  opacity: 0.9;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  border: 2px solid rgba(0,0,0,0.08);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.selected {
  border: 3px solid rgba(84, 80, 152, 0.9);

  box-shadow:
    0 0 0 4px rgba(99, 102, 241, 0.35),
    0 0 12px rgba(99, 102, 241, 0.95),
    0 0 24px rgba(99, 102, 241, 0.95);

  opacity: 1;
}

.header {
  width: 100%;
  box-sizing: border-box;

  background: radial-gradient(circle at 30% 30%, #4f9f8c, #5481d4);

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 18px;
  color: white;
}

.headerTitle {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.binaryRow {
  padding: 10px 15px;
  border-top: 2px solid rgba(0,0,0,0.18);
  background: #c8d2ff59;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  max-width: 420px;
}

.binaryLabel {
  font-weight: 800;
  font-size: 18px;
  opacity: 0.7;
  flex-shrink: 0;
}

.binaryValue {
  font-size: 18px;
  font-weight: 800;
  min-width: 0;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: normal;
}

.subLabel {
  font-size: 14px;
  opacity: 0.7;
}

.ports {
  border-top: 2px solid rgba(0,0,0,0.18);
}

.portRow {
  position: relative;
  height: 40px;

  display: flex;
  align-items: center;

  padding: 0px 25px 5px 25px;

  border-top: 2px solid rgba(0,0,0,0.12);
  background: rgba(200, 210, 255, 0.35);
}

.portLabel {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.portName {
  font-size: 18px;
  font-weight: 800;
}

.portType {
  font-size: 15px;
  opacity: 0.7;
}

.handle {
  width: 10px;
  height: 10px;
  border-radius: 999px;
  border: 2px solid currentColor;
}

.portRow :global(.react-flow__handle-left) {
  left: 2px;
}

.portRow :global(.react-flow__handle-right) {
  right: 2px;
}